<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @store.address %>
</p>

<p>
  <strong>State:</strong>
  <%= @store.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @store.city %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @store.telephone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @store.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @store.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @store.contact %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @store.contact_phone %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @store.contact_email %>
</p>

<p>
  <strong>Owner name:</strong>
  <%= @store.owner_name %>
</p>

<p>
  <strong>Owner phone:</strong>
  <%= @store.owner_phone %>
</p>

<p>
  <strong>Owner email:</strong>
  <%= @store.owner_email %>
</p>

<p>
  <strong>Accounting email:</strong>
  <%= @store.accounting_email %>
</p>

<p>
  <strong>Free:</strong>
  <%= @store.free %>
</p>

<p>
  <strong>Delivery:</strong>
  <%= @store.delivery %>
</p>

<p>
  <strong>Visible:</strong>
  <%= @store.visible %>
</p>

<p>
  <strong>Active:</strong>
  <%= @store.active %>
</p>

<%= link_to 'Edit', edit_store_path(@store) %> |
<%= link_to 'Back', stores_path %>
